<div class="header-container">
    <div class="gb_Ed gb_Wc gb_Xc">
        <div class="gb_uc" aria-expanded="false" aria-label="Главное меню" role="button" tabindex="0" (click)="menuClick()">
            <svg focusable="false" viewBox="0 0 24 24">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
        </div>

        <div class="gb_nc">
            <div class="gb_oc">
                <a class="gb_ee gb_pc gb_ce" href="./search-console/welcome" title="Google Search Console" id="sdgBod">
                    <img class="gb_tc" src="https://ssl.gstatic.com/search-console/scfe/sc_logo_lockup_v1.svg" alt=""
                        aria-hidden="true" style="width:224px;height:24px" data-iml="772" data-atf="true">
                </a>
            </div>
        </div>
        <div class="gb_Ed gb_Aa gb_Uc gb_Vc">
            <span class="gb_Zc" aria-level="1" role="heading"></span>
        </div>
    </div>
</div>